.idea/
*.iml
.vscode/

.gradle/
build/
!build/allure-report.zip

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

allure-results/
allure-report/
build/allure-results/
build/tmp/

.DS_Store
Thumbs.db


*.log
*.tmp

